.header__link {
   font-size: 18px;
   line-height: 22px;
   color: white;
   text-decoration: none;
   align-items: center;
}

@media (max-width: 400px) {
   .header__link {
      font-size: 14px;
      line-height: 17px;
   }
}

.header__link:last-of-type {
   margin-left: 24px;
}
