.header__link_type_out {
   color: #a9a9a9;
   margin-left: 24px;
   transition: 0.3s;
}

.header__link_type_out:hover {
   cursor: pointer;
   opacity: 0.5;
}

@media (max-width: 400px) {
   .header__link_type_out {
      margin-top: 5px;
   }
}
